@font-face {
  font-family: 'Avenir';
  src: url('fonts/AvenirLTStd-Book.otf');
}

#map {
  width:80%;
  height:800px;
  margin: auto;
  margin-top: 16px!important;
}

body{
  background-color: #FFFFEA !important;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  color: #000000;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rozha One';
  font-weight: 250;
  color: #000000;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a{
  color: #000000;
  text-decoration: none;
}

a:hover, a:focus{
  color: #ccc;
  outline: 0;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar{
  font-weight: 500;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FFFFEA;
  margin: auto;
}

.navbar-inverse{
  background: #FFFFEA;
  border-color: #FFFFEA;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #FFFFEA;
}

.nav-link {
  background: #FFFFEA;
  background-color: #FFFFEA;
}

.navbar-inverse .navbar-brand{
  color: #000000;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
  alignment-content: left;
}

#headerwrap {
  background-image: url('icons/icon2.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  padding-top: 70px;
  padding-bottom: 60px;
  /*text-align: center;*/
  -webkit-background-size: cover;
}

.card-title {
  font-family: 'Rozha One';
  /* width: 35%; */
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.card-text {
  font-family: 'Avenir';
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

#doc {
  margin-top: 70px;
  padding-top: 20px;
  text-align: center;
}

.MeetOurDocs h1{
  font-family: 'Rozha One';
  width: 100%;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 100px;
}
.MeetOurDocs h1{
  font-family: 'Rozha One';
  width: 100%;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 150px;
}

#doc {
  margin-top: 70px;
  padding-top: 30px;
  text-align: center;
}

#doc p{
  font-family: 'Avenir';
  font-size: 18px;
  font-weight: 100;
  color: #000000;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 13px;
}

#doc a{
  border-radius: 25px;
}
.HowItWorks h1{
  font-family: 'Rozha One';
  width: 100%;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 100px;
}

.HowItWorks p{
  padding-top: 70px;
  font-family: 'Avenir';
  color: black;
  font-size: 20px;
  letter-spacing: 1.7px;
  text-align: center;
}



.PatientsReviews {
  padding-top: 100px;
  padding-bottom: 100px;
}

.carousel-item{
  font-family: 'Avenir';
  color: black;
  font-size: 15px;
  letter-spacing: 1.7px;
}


.weewee{
  size: large;
}

.btn-primary {
  background-color: white!important;
  border-radius: 32px!important;
  transition: all 0.5s ease-in-out;
  z-index: 1000!important;
  width: 200px!important;
  height: 200px!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  border: none!important;
  box-shadow: 0 0 10px #000000!important;
  outline: none!important;
}
.btn-primary:focus {
  background-color: gray!important;
}
.btnFixed {
  top:0!important;
}
.hcentered {
  position: absolute;
  top:100px;
  left:45%;
}
.text-profile {
  width: 120px;
  float: right;
  display: inline;
}

/* ==================================================================== */

#headerwrap {
  background-image: url('icons/icon2.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -10px;
  padding-top: 70px;
  padding-bottom: 60px;
  border: 1px solid black;
  /*text-align: center;*/
  -webkit-background-size: cover;
}

#headerwrap a{
  border-radius: 100px;
  margin: -5px;
  font-size: 16px;
}

.card-title {
  font-family: 'Rozha One';
  /* width: 35%; */
  color: #000000;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 55px;
}

.card-text {
  font-family: 'Avenir';
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

/* ========================================================================= */
.MeetOurDocs h1{
  font-family: 'Rozha One';
  width: 100%;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 150px;
}

#doc {
  margin-top: 70px;
  padding-top: 30px;
  text-align: center;
}

#doc p{
  font-family: 'Avenir';
  font-size: 18px;
  font-weight: 100;
  color: #000000;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 13px;
}

#doc a{
  border-radius: 25px;
}
/* ========================================================================= */

.HowItWorks h1{
  font-family: 'Rozha One';
  width: 100%;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 150px;
}

.HowItWorks p{
  padding-top: 70px;
  padding-bottom: 80px;
  font-family: 'Avenir';
  color: black;
  font-size: 20px;
  letter-spacing: 1.7px;
  text-align: center;
}

/* #Slider {
  background-image: url('icons/bcg.png');
  background-position: center center;
  border: 1px solid black;

  -webkit-background-size: cover;
} */

/* ========================================================================= */

.features{
  border: 1px solid black;
  border-radius: 20px;
  margin: 5% 10% 5% 10%;
}

/* ========================================================================= */
#PatientReviews1 h1{
  font-family: 'Rozha One';
  width: 100%;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 50px;
}
/* ========================================================================= */

#carousel{
  padding: 0 25% 0 25%;
}

.carousel-item h6{
  text-align: center;
}

.PatientsReviews {
  padding-top: 50px;
  padding-bottom: 100px;
}

.carousel-item{
  font-family: 'Avenir';
  color: black;
  font-size: 15px;
  letter-spacing: 1.7px;
}

/* ========================================================================= */

.list-unstyled{
  font-size: 15px;
}

.page-footer p{
  font-size: 14px;
  padding-top: 10px;
}

.page-footer{
  padding-top: 80px;
}
