@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.otf');
}

body{
    background-color: #FFFFEA !important;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    color: #000000;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 80px;
}

.navbar-inverse{
    background: #FFFFEA;
    border: 1px solid black;
    padding: 20px;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #FFFFEA;
}

.nav-link {
    background: #FFFFEA;
}

.navbar-inverse .navbar-brand{
    color: #000000;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}

#navbarText{
    margin: 10px;
}
